*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    border: 2px solid black;
    width: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

form div input{
    outline: none;
    border: 1px solid black;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
}

form button, a{
    width: fit-content;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(31, 190, 183);
    color: white;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    margin-top: 2rem;
}
